.home{
    background: #000;
    color: #e0e0e0;
}
.about{
    background: #0E0C0E;
    color: #C0C0C0;
}
.projects{
    background: #0E0C0E;
    color: #C0C0C0;
}
.contact{
    background: #0E0C0E;
    color: #C0C0C0;
}