.main {
    background: #0E0C0E;
}

.container {
    background: inherit;
    color: #C0C0C0;
    max-width: var(--max-width);
    display: flex;
    margin: auto;
    gap: 40px;
    align-items: center;
}

.aboutMe {
    flex: 1;
    border-radius: 0 50px;
    background: #232123;
}

.content {
    flex: 1;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: none;
        width: 100%;
        margin: 20px;
    }
    .content {
        margin-top: 20px;
    }
}
