
.main{
    height: 70px;
    color: #C0C0C0;
}
.container{
    height: inherit;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: auto;   
}
.logoSpan{
    color: #06812C;
}
.logo{
    font-size: 1.2rem;
    font-family: var(--font-mono);
    font-weight: 600;
}
.links{
    display: flex;
    gap: 20px;
}
.menu{
    display: none;
}
.menuBtn{
    display: none;
    gap: 20px;
}

@media (max-width: 768px){
    .container{
        max-width: none;
        width: 100%;
    }
    .menu{
        display: block;
    }
    .links{
        display: none;
    }
    .mobileLinks{
    position: absolute;
    right: 0;
    top: 70px;
    width: 50%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 20;
    }
    .menuBtn{
    display: flex;
}
}
