.main {
  gap: 20px;
  padding: 1rem 2rem;
  width: 100%;
  top: 0;
  max-height: 70px;
  z-index: 1000;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logoSpan {
  color: #06812c;
}

.links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.menuBtn {
  display: none;
}

.menu {
  background: none;
  border: none;
  color: #c0c0c0;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.mobileLinks {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menuBtn {
    display: block;
  }

  .mobileLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem;
    gap: 1rem;
  }
}